test-out/
obj_linux/
obj/
bin/
tools/
temp*/
obj_debug/
.cproject
.project
.settings/
*.log
callgrind*
test-data/lambda/*
test-data/test-realign/
!test-data/lambda/layout-miniasm.gfa
!test-data/lambda/NC_001416.fa
!test-data/lambda/reads.fastq
test-data/DATASETS_FOR_CONSENSUS/
results/
tools1/
testing/
scripts/*
!scripts/test-leftalign/
scripts/test-leftalign/*.pyc
scripts/test-leftalign/data/
!scripts/gfacons.py
!scripts/intervaltree.py
!scripts/test-leftalign/data/msa1.txt
!scripts/test-leftalign/data/msa2.txt
# !scripts/circedlib.py
!scripts/edcontigs.py
!scripts/evalcontigs.py
!scripts/lis.py
!scripts/paf2mhap.pl
*.tee
*.memtime
