[submodule "codebase/seqlib"]
	path = codebase/seqlib
	url = https://github.com/isovic/seqlib.git
[submodule "codebase/argparser"]
	path = codebase/argparser
	url = https://github.com/isovic/argparser.git
[submodule "codebase/spoa"]
	path = codebase/spoa
	url = https://github.com/rvaser/spoa
[submodule "codebase/samscripts"]
	path = codebase/samscripts
	url = https://github.com/isovic/samscripts.git
[submodule "vendor/bioparser"]
	path = vendor/bioparser
	url = https://github.com/rvaser/bioparser
[submodule "vendor/spoa"]
	path = vendor/spoa
	url = https://github.com/rvaser/spoa
[submodule "vendor/thread_pool"]
	path = vendor/thread_pool
	url = https://github.com/rvaser/thread_pool
[submodule "vendor/edlib"]
	path = vendor/edlib
	url = https://github.com/martinsos/edlib
