test-out/
obj_linux/
obj/
bin/
tools/
temp/
obj_debug/
.cproject
.project
.settings/
*.log
test-data/lambda/*
!test-data/lambda/layout-miniasm.gfa
!test-data/lambda/NC_001416.fa
!test-data/lambda/reads.fastq
